


.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

header {
    background-color:  #F7F8F9;
}





@import './all-bloks/all-blocks';