.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
  background-color: #F7F8F9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navbar-1 {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-menu li {
  list-style: none;
}
.navbar-menu a {
  text-decoration: none;
  color: #556987;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.registration {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  background: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
}

.login-btn:hover {
  border: 1px solid black;
}

.sign-btn {
  background: #22C55E;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.hamburger {
  display: none;
  width: 30px;
  background: transparent;
  border: none;
}
.hamburger img {
  width: 30px;
}

.close-btn {
  display: none;
  background: transparent;
  border: none;
}
.close-btn img {
  width: 50px;
}

@media (max-width: 970px) {
  .navbar-1 {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .navbar-1 {
    width: 70%;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(115, 115, 115);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    transform: translateX(-200%);
    transition: 1s all;
    z-index: 111111111;
    padding-top: 30px;
  }
  .navbar-menu {
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
  }
  .navbar-menu a {
    font-size: 30px;
    color: white;
  }
  .registration {
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
  }
  .registration .login-btn {
    font-size: 30px;
    color: white;
  }
  .registration .sign-btn {
    font-size: 30px;
  }
  .hamburger {
    display: block;
  }
  .close-btn {
    display: block;
  }
  .active-menu {
    transition: 1s all;
    transform: translateX(0);
  }
}
.main-head {
  padding: 30px 80px;
}

.head {
  width: 100%;
  min-height: 568px;
  background: #2A3342;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.head .img-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.head .img-2 {
  position: absolute;
  top: 30px;
  right: 30px;
}
.head .img-4 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.head .img-3 {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.head-child .header-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  background-color: #22C55E;
  color: white;
  cursor: pointer;
}
.head-child h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -0.02em;
  max-width: 847px;
  padding: 0;
}
.head-child p {
  color: #8896AB;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  max-width: 715px;
  margin: 10px auto;
}
.head-child span {
  color: #8896AB;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 15px;
}
.head-child .form-btn {
  background: #22C55E;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 13px 16px 13px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.head-child input {
  padding: 0 20px;
  border-radius: 6px;
  background-color: white;
  border: none;
  height: 46px;
  width: 320px;
}

@media (max-width: 768px) {
  .main-head {
    padding: 0;
  }
  .head {
    width: 95%;
    padding: 50px 10px;
  }
  .head-child h1 {
    font-size: 30px;
    margin-top: 10px;
    line-height: 32px;
  }
  .head-child p {
    font-size: 14px;
  }
  .head-child span {
    font-size: 10px;
  }
  .head-child input {
    width: 200px;
    margin-bottom: 10px;
  }
  .head .img-1 {
    width: 100px;
  }
  .head .img-2 {
    width: 80px;
    top: 15px;
    right: 15px;
  }
  .head .img-4 {
    width: 100px;
  }
  .head .img-3 {
    width: 80px;
    bottom: 15px;
    left: 15px;
  }
}
.company {
  background: #F7F8F9;
  padding: 20px 0;
}

.companies h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #BBC3CF;
  text-align: center;
  margin: 50px 0;
}
.companies .companies-logo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 40px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 60px;
  transition: 1s all;
}

.company-bg-img {
  background-image: url(".../images/bg-img.png");
}

.features {
  background-image: url(".../images/bg-img1.png");
  background-attachment: fixed;
  background-size: contain;
  text-align: center;
}
.features button {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  background-color: #22C55E;
  color: white;
  cursor: pointer;
  margin-top: 80px;
}
.features h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #2A3342;
}
.features p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #556987;
  max-width: 910px;
  margin: 0 auto;
}

.features-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.features-cards .features-card {
  width: 360px;
  padding: 8px;
}
.features-cards .features-card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #2A3342;
  margin: 14px 0;
}
.features-cards .features-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 768px) {
  .features h2 {
    font-size: 24px;
  }
  .features p {
    font-size: 16px;
  }
}
.idea-card {
  max-width: 100%;
  padding: 60px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2A3342;
  border-radius: 10px;
}

.idea-title {
  max-width: 450px;
}
.idea-title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin: 10px 0;
  color: white;
}
.idea-title p {
  color: #8896AB;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.idea-btn1 {
  background: #22C55E;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 13px 20px 13px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.idea-btn2 {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #2A3342;
  padding: 13px 20px 13px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .idea-title h2 {
    font-size: 28px;
    text-align: center;
  }
  .idea-title p {
    font-size: 16px;
    text-align: center;
  }
}
.products {
  background-color: #F7F8F9;
  padding: 80px 0;
}
.products .features-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  background: #DCFCE7;
  color: #22C55E;
  cursor: pointer;
  margin-top: 80px;
}
.products h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #2A3342;
  margin: 10px 0;
}
.products p {
  color: #556987;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  max-width: 919px;
}

.product-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
}

.product-child {
  display: flex;
  align-items: start;
  gap: 20px;
}
.product-child h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #2A3342;
  margin: 10px 0;
}
.product-child p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #556987;
  max-width: 376px;
}

.product-card {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.product-mainImg {
  position: relative;
}
.product-mainImg .pattern-imgLeft {
  position: absolute;
  top: -35px;
  left: -40px;
}
.product-mainImg .pattern-imgRight {
  position: absolute;
  bottom: -25px;
  right: -35px;
}

.product-card-1 {
  display: flex;
  justify-content: space-evenly;
  gap: 120px;
  margin: 150px 0;
}
.product-card-1 .product-title {
  max-width: 650px;
}
.product-card-1 .product-title-card {
  background: #22C55E;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 13px 20px 13px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.product-card-1 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
}

@media (max-width: 1096px) {
  .product-card-1 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 50px;
  }
  .product-card-1 h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .flex-col {
    flex-direction: column;
  }
}
@media (max-width: 970px) {
  .product-cards {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .product-main-img {
    width: 450px;
    top: -10px;
    left: -10px;
  }
  .pattern-imgLeft {
    width: 100px;
  }
  .pattern-imgRight {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .product-main-img {
    width: 270px;
  }
  .pattern-imgLeft {
    width: 70px;
    top: -20px !important;
    left: -20px !important;
  }
  .pattern-imgRight {
    width: 70px;
    bottom: -10px !important;
    right: -20px !important;
  }
}
.numbers {
  text-align: center;
}
.numbers h3 {
  color: #2A3342;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
}
.numbers p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 auto;
  color: #556987;
  max-width: 919px;
}

.numbers-data {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
  margin: 60px 0;
}
.numbers-data h2 {
  color: #22C55E;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin: 10px 0;
  letter-spacing: -0.02em;
}

.numbers-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  background: #DCFCE7;
  color: #22C55E;
  cursor: pointer;
  margin-top: 80px;
}

.works {
  background-color: #2A3342;
  padding: 60px 0;
}

.works-top-img {
  background-image: url(".../images/works-top-img.png");
  width: 100%;
}

.works-title {
  max-width: 560px;
}
.works-title h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: white;
  margin: 20px 0;
}
.works-title p {
  color: #8896AB;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.works-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.works-img {
  position: relative;
}
.works-img .play-work {
  position: absolute;
  top: 43%;
  left: 45%;
  cursor: pointer;
}

.works-card1 {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
  margin: 80px 0;
}
.works-card1 .features-card {
  max-width: 360px;
}
.works-card1 .features-card h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #FFF;
  margin: 10px 0;
}
.works-card1 .features-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #8896AB;
}
.works-card1 .features-card button {
  width: 50px;
  height: 50px;
  background-color: #22C55E;
  border-radius: 50%;
  border: none;
  color: #2A3342;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 768px) {
  .works-card1 {
    text-align: center;
    justify-content: center;
    margin-top: 80px;
  }
  .works-img-1 {
    width: 300px;
  }
  .works-img .play-work {
    top: 40%;
    left: 40%;
  }
}
@media (max-width: 350px) {
  .works-img-1 {
    width: 250px;
  }
  .play-work {
    top: 35%;
    left: 35%;
  }
}
.app {
  margin: 50px 0;
  text-align: center;
}
.app h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2A3342;
}
.app p {
  color: #556987;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  max-width: 919px;
  margin: 20px auto;
}

.app-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  background: #DCFCE7;
  color: #22C55E;
  cursor: pointer;
}

.app-btn1 {
  background: #22C55E;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 13px 20px 13px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.app-btn2 {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #2A3342;
  padding: 13px 20px 13px 20px;
  border-radius: 6px;
  border: 0.5px solid black;
  cursor: pointer;
}

@media (max-width: 970px) {
  .app-img-1 {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .app-img-1 {
    width: 410px;
  }
}
@media (max-width: 468px) {
  .app-img-1 {
    width: 250px;
  }
}
.contact {
  text-align: center;
}
.contact h2 {
  color: #2A3342;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  margin: 15px auto;
}
.contact p {
  color: #556987;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  max-width: 919px;
  margin: 0 auto;
}

.contact-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
  margin: 80px 0;
}
.contact-cards h4 {
  color: #2A3342;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  margin: 15px 0;
}

.map-if {
  width: 100%;
  margin-bottom: -180px;
}

footer {
  background: #2A3342;
  text-align: center;
  padding: 350px 0 60px 0;
}
footer hr {
  background: #333F51;
  margin: 50px 0;
}
footer p {
  color: #8896AB;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.footer-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-menu li {
  list-style: none;
}
.footer-menu li a {
  text-decoration: none;
  cursor: pointer;
  color: #8896AB;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}/*# sourceMappingURL=main.css.map */