.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
  background-color: #F7F8F9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navbar-1 {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-menu li {
  list-style: none;
}
.navbar-menu a {
  text-decoration: none;
  color: #556987;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.registration {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  background: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
}

.login-btn:hover {
  border: 1px solid black;
}

.sign-btn {
  background: #22C55E;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.hamburger {
  display: none;
  width: 30px;
  background: transparent;
  border: none;
}
.hamburger img {
  width: 30px;
}

.close-btn {
  display: none;
  background: transparent;
  border: none;
}
.close-btn img {
  width: 50px;
}

@media (max-width: 970px) {
  .navbar-1 {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .navbar-1 {
    width: 70%;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(115, 115, 115);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    transform: translateX(-200%);
    transition: 1s all;
    z-index: 111111111;
    padding-top: 30px;
  }
  .navbar-menu {
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
  }
  .navbar-menu a {
    font-size: 30px;
    color: white;
  }
  .registration {
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
  }
  .registration .login-btn {
    font-size: 30px;
    color: white;
  }
  .registration .sign-btn {
    font-size: 30px;
  }
  .hamburger {
    display: block;
  }
  .close-btn {
    display: block;
  }
  .active-menu {
    transition: 1s all;
    transform: translateX(0);
  }
}
.main-head {
  padding: 30px 80px;
}

.head {
  width: 100%;
  min-height: 568px;
  background: #2A3342;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.head .img-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.head .img-2 {
  position: absolute;
  top: 30px;
  right: 30px;
}
.head .img-4 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.head .img-3 {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.head-child .header-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  background-color: #22C55E;
  color: white;
  cursor: pointer;
}
.head-child h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -0.02em;
  max-width: 847px;
  padding: 0;
}
.head-child p {
  color: #8896AB;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  max-width: 715px;
  margin: 10px auto;
}
.head-child span {
  color: #8896AB;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 15px;
}
.head-child .form-btn {
  background: #22C55E;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 13px 16px 13px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.head-child input {
  padding: 0 20px;
  border-radius: 6px;
  background-color: white;
  border: none;
  height: 46px;
  width: 320px;
}

@media (max-width: 768px) {
  .main-head {
    padding: 0;
  }
  .head {
    width: 95%;
    padding: 50px 10px;
  }
  .head-child h1 {
    font-size: 30px;
    margin-top: 10px;
    line-height: 32px;
  }
  .head-child p {
    font-size: 14px;
  }
  .head-child span {
    font-size: 10px;
  }
  .head-child input {
    width: 250px;
    margin-bottom: 10px;
  }
  .head .img-1 {
    width: 100px;
  }
  .head .img-2 {
    width: 80px;
    top: 15px;
    right: 15px;
  }
  .head .img-4 {
    width: 100px;
  }
  .head .img-3 {
    width: 80px;
    bottom: 15px;
    left: 15px;
  }
}
.company {
  background: #F7F8F9;
  padding: 20px 0;
}

.companies h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #BBC3CF;
  text-align: center;
  margin: 50px 0;
}
.companies .companies-logo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 60px;
}

.company-bg-img {
  background-image: url(".../images/bg-img.png");
}

.features {
  background-image: url(".../images/bg-img-feat.png");
  width: 100%;
  text-align: center;
}
.features button {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  background-color: #22C55E;
  color: white;
  cursor: pointer;
  margin-top: 80px;
}
.features h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #2A3342;
}
.features p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #556987;
  max-width: 910px;
  margin: 0 auto;
}

.features-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.features-cards .features-card {
  width: 360px;
  padding: 8px;
}
.features-cards .features-card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #2A3342;
  margin: 14px 0;
}
.features-cards .features-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}/*# sourceMappingURL=main.css.map */