.contact{
    text-align: center;

    h2{
        color:  #2A3342;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -0.02em;
        margin: 15px auto;
    }

    p{
        color: #556987;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        max-width: 919px;
        margin: 0 auto;
    }
}

.contact-cards{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
    margin: 80px 0;

    h4{
        color: #2A3342;
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        margin: 15px 0;
    }
}

